.project-card {
  padding: 4rem;
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}


.project-card > button {
  position: absolute;
  top: 6px;
  right: 6px;
}